<%- include('../../components/header.ejs') %>

    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Formulario de personas</h3>
                        </div>

                        <form method="post" action="">
                            <div class="mt-2">
                                <label for="nombre">Nombre:</label>
                                <input id="nombre" type="text" name="nombre" class="form-control"
                                    placeholder="Ingrese su nombre" value="<%= persona?.nombre %>" />
                            </div>
                            <div class="mt-2">
                                <label for="apellido">Apellido:</label>
                                <input id="apellido" type="text" name="apellido" class="form-control"
                                    placeholder="Ingrese su apellido" value="<%= persona?.apellido %>" />
                            </div>
                            <div class="mt-2">
                                <label for="edad">Edad:</label>
                                <input id="edad" type="number" name="edad" class="form-control"
                                    placeholder="Ingrese su edad" value="<%= persona?.edad %>" />
                            </div>
                            <div class="mt-2">
                                <label for="ciudad">Ciudad:</label>
                                <input id="ciudad" type="text" name="ciudad" class="form-control"
                                    placeholder="Ingrese su ciudad" value="<%= persona?.ciudad %>" />
                            </div>
                            <div class="mt-2">
                                <label for="fechaNacimiento">Fecha de nacimiento:</label>
                                <input id="fechaNacimiento" type="date" name="fechaNacimiento" class="form-control"
                                    value="<%= formattedDate %>" placeholder="Ingrese su Fecha de Nacimiento" />
                            </div>
                            <div class="mt-2">
                                <input type="submit" value="Enviar" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/footer.ejs') %>