<%- include('../../components/header.ejs') %>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Contactos</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tipo</th>
                                    <th>Valor</th>
                                    <th>Persona</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <% contactos.forEach(contacto=> { %>
                                    <tr>
                                        <td>
                                            <%=contacto.id%>
                                        </td>
                                        <td>
                                            <%= contacto.tipo %>
                                        </td>
                                        <td>
                                            <%= contacto.valor %>
                                        </td>
                                        <td>
                                            <%= contacto.persona.nombre %>
                                                <%= contacto.persona.apellido %>
                                        </td>
                                        <td>
                                            <a href="/contactos/<%= contacto.id %>" class="btn btn-success">Editar</a>
                                        </td>
                                        <td>
                                            <form method="post" action="/contactos/<%=contacto.id%>/delete"
                                                onsubmit="return confirm('¿Está seguro de que desea eliminar este contacto?');">
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/footer.ejs') %>